@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.hero-section{
  font-family: 'Open Sans', sans-serif;
  background-color: #f6fcf9;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;

}

.hero-title{
  line-height: 5rem;
}

.hero-description {
  color: #555555;
}

.hero-cta {
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}